body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.color {
  font-size: 2rem !important;
  color: gold !important;
}

.li-color {
  color: gold !important;
}

.bg-1 {
  background-color: lavender;
}

.spin {
  margin: 1.2rem auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.height {
  min-height: 100vh;
}

.bg-image {
  background: url(assets/house5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.banner h1,
.main h1 {
  font-size: 2.5rem;
}

.banner div,
.main div {
  width: 10rem;
  height: 5px;
  background: #af9a7d;
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.lin {
  border: 1px solid;
  text-decoration: none !important;
}

.cards {
  width: 28rem;
  margin-bottom: 20px;
}

.div-cards {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}
